html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
	font-style:normal;
	color:rgb(50,50,50);
}
html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	background-color: #fff;
}
header,footer,section,img,a,button,em,del,strong,var,fieldset,label,cite,small,time,mark,code,figcaption,figure,textarea{
	display:block;
}
header,section,footer {
	position:relative;
	overflow:hidden;
}
ol,ul{
	list-style:none;
}
button {
	padding:10px;
}
span{
	display:inline-block;
}
a,a:visited{
	text-decoration:none;
}
label, .wordWrap{
    word-wrap: break-word;
    word-break: break-all;
}

header{}
/*header*/

.map-title {
	background: #061827;
	position: relative;
	height: 45px;
	overflow: hidden;
	z-index: 500;
}

.map-title h1 {
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	line-height: 45px;
	font-weight: normal;
}

.main-goback {
	position: absolute;
	background: url(../images/header-goback.png) no-repeat center;
	background-size: 10px;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 0px;
}
.menu-icon{
	position: absolute;
	background: url(../images/menu.png) no-repeat center;
	background-size: 20px;
	width: 45px;
	height: 45px;
	right: 0px;
	top: 0px;
}
