 
			::-webkit-scrollbar {
				width: 0;
				height: 0
			}
			
			
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
			
			div.time-mrt {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
				height: 300px;
				background: #fff;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			
			div.time-mrt>p {
				width: 100%; 
				line-height: 50px;
				background-color: #666;
				color: #fff;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				font-size: 16px;
			}
			
			li {
				list-style: none;
			}
			
			.mrt-c {
				content: "";
				display: table;
			}
			
			.mrt-c:after {
				clear: both;
			}
			
			div.time-mrt>p span {
				display: inline-block;padding:0 15px;
			}
			
			div.time-mrt>p span:nth-child(1) {
				float: left;
			}
			
			div.time-mrt>p span:nth-child(2) {
				float: right;
			}
			
			ul.mrt-date {
				width: 90%; 
				height: 250px;
				padding-right:40%;
				margin-right:10%;
				text-align: center;
				overflow-x:hidden;
				overflow-y:scroll;
				position:absolute;
				left:0;
			}
			
			ul.mrt-hour,
			ul.mrt-minite,
			div.mrt-hour,
			div.mrt-minite {
				text-align: center;
				width: 10%; 
				height: 250px;
				overflow:auto;
			}
			
			div.time-mrt ul li {
				height: 50px;
				line-height: 50px;
				color: #898989;
				overflow: hidden;
			}
			
			div.time-mrt ul li.selected span{
				display: inline-block;
				 /*transition: .1s;*/
				transform: scale(1.2, 1.2);
				-webkit-transform: scale(1.2, 1.2);
				color: #000;
			}
			
			div.all-out {
				position: relative;
				width: 100%;
				height: 250px;
				background-color: #fff;
				-webkit-mask-box-image: -webkit-linear-gradient(transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
				-webkit-mask-box-image: -moz-linear-gradient(transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
				-webkit-mask-box-image: -o-linear-gradient(transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
				-webkit-mask-box-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(0.05, transparent), color-stop(0.2, #fff), color-stop(0.8, #fff), color-stop(0.95, transparent), to(transparent));
				-webkit-mask-box-image: linear-gradient(transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
			}
			
			div.mrt-hour,
			div.mrt-minite { 
				line-height: 250px;
				color: #000;
			}
			div.mrt-hour span,
			div.mrt-minite span{
			
				transform: scale(1.2, 1.2);
				-webkit-transform: scale(1.2, 1.2);
			}
			
			.animate {
				transition: 2s;
			}
			
			div.all-out ul {
				height: 250px;
				overflow: auto;
				overflow-x: hidden; 
			}
			
			div.all-out div.border {
				height: 50px;
				border: 1px solid #ccc;
				position: absolute;
				width: 100%;
				left: 0;
				top: 50%;
				margin-top: -25px;
				border-right: 0;
				border-left: 0;
				z-index: -1;
			}
			
			.first-top {
				-webkit-transform: rotateX(45deg);
				-moz-transform: rotateX(45deg);
				-ms-transform: rotateX(45deg);
				-o-transform: rotateX(45deg);
				transform: rotateX(45deg);
			}
			
			.second-top {
				-webkit-transform: rotateX(20deg);
				-moz-transform: rotateX(20deg);
				-ms-transform: rotateX(20deg);
				-o-transform: rotateX(20deg);
				transform: rotateX(20deg);
			}
			
			.first-bottom {
				-webkit-transform: rotateX(-45deg);
				-moz-transform: rotateX(-45deg);
				-ms-transform: rotateX(-45deg);
				-o-transform: rotateX(-45deg);
				transform: rotateX(-45deg);
			}
			
			.second-bottom {
				-webkit-transform: rotateX(-20deg);
				-moz-transform: rotateX(-20deg);
				-ms-transform: rotateX(-20deg);
				-o-transform: rotateX(-20deg);
				transform: rotateX(-20deg);
			}
div.filter{
	width:100%;height:100%;position:absolute;top:0;left:0;background-color:#000;
	 filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40) !important; -khtml-opacity:.4 !important;-moz-opacity:.4 !important;filter:alpha(opacity=40) !important;opacity:.4 !important;zoom: 1;
	
	 
}	 
